:root {
  --main-color: white;
  --secondary-color: #f65282;
  --main-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Montserrat", sans-serif;
}

body {
  background-color: #1b1b1b;
}

p {
  padding: 30px;
}

footer {
  background-color: #282323;
  display: flex;
  justify-content: space-between;
}

footer p {
  color: var(--main-color);
  font-family: var(--main-font-family);
  font-size: 16px;
  font-weight: lighter;
  padding-top: 40px;
}

footer img {
  height: 20px;
  margin: 36px;
}

footer i {
  padding-top: 42px;
}

.hero a,
.link a {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 18px 30px;
  border-radius: 50px;
  line-height: 10px;
  background-color: var(--main-color);
  color: #272142;
}

.title {
  padding: 80px;
  color: var(--main-color);
  font-size: 72px;
  font-weight: bold;
}

.fa-brands {
  color: var(--main-color);
}

.nav-link {
  color: var(--main-color);
  font-family: var(--main-font-family);
  font-weight: normal;
  font-size: 16px;
}

.hero {
  padding: 200px;
  text-align: center;
  background-image: url(/images/main.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  max-height: auto;
  max-width: 100%;
}

.hero h2 {
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 24px;
  color: var(--main-color);
}

.hero h1 {
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 72px;
  color: var(--main-color);
}

.hero p {
  font-family: var(--main-font-family);
  font-weight: normal;
  font-size: 18px;
  color: var(--main-color);
}

.navbar {
  padding: 30px 0;
}

.navbar a {
  background-color: transparent;
  border: none;
}

.navbar-color {
  background-color: rgba(000, 000, 000, 0.7);
}

.navbar-brand img {
  padding: 0 20px;
}

.active {
  color: var(--secondary-color) !important;
}

.container {
  margin: 50px 0;
}

.content-section p {
  padding: 0;
}

.content-section .fa-brands {
  margin: 0;
  padding: 40px 0;
}

.about-section,
.content,
.contact-content {
  padding: 60px 0;
}

.about-section img {
  max-width: 100%;
  height: auto;
}

.about-section h2 {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: bold;
}

.about-section h1 {
  color: var(--main-color);
  font-size: 64px;
  font-weight: bold;
}

.about-section p {
  color: var(--main-color);
  font-size: 18px;
  font-weight: normal;
}

.camera {
  display: flex;
  justify-content: center;
  background-color: #2d2727;
  border-radius: 4px;
}

.camera p {
  color: var(--main-color);
  font-family: var(--main-font-family);
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.camera img {
  max-width: 100%;
  height: 50px;
}

.contact-content h3 {
  font-family: var(--main-font-family);
  font-weight: bold;
  font-size: 14px;
  color: var(--secondary-color);
}

.contact-content p,
a {
  font-family: var(--main-font-family);
  font-weight: normal;
  font-size: 18px;
  color: var(--main-color);
  padding: 10px;
}

.contact-content a {
  text-decoration: none;
}

.contact-content a:hover {
  color: var(--main-color);
  text-decoration: underline;
}

.fa-solid {
  padding: 10px;
}

.gallery {
  margin: 0;
  display: grid;
}

.gallery img {
  padding: 10px;
}

@media (max-width: 600px) {
  footer {
    display: block;
    text-align: center;
  }

  footer p {
    padding: 10px;
  }

  footer i {
    padding: 0;
  }

  .hero {
    padding: 150px 50px;
  }

  .hero a {
    font-size: 10px;
    padding: 10px 15px;
  }

  .hero h1 {
    font-size: 20px;
  }

  .hero h2 {
    font-size: 16px;
  }

  .hero p {
    font-size: 14px;
  }

  .navbar-brand img {
    padding: 0;
    max-width: 100px;
  }

  .content-section h1 {
    font-size: 38px;
  }

  .content-section h2,
  p {
    font-size: 20px;
  }

  .title {
    font-size: 40px;
    padding-bottom: 0;
  }
}
