body {
  background-color: #1b1b1b;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 18px 30px;
  border-radius: 50px;
  line-height: 10px;
  background-color: white;
  color: #272142;
}

p {
  padding: 30px;
}

.footer {
  background-color: #282323;
  display: flex;
  justify-content: space-between;
}

.footer p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  margin: 4px;
}

.footer img {
  height: 20px;
  margin: 36px;
}

.fa-brands {
  color: white;
  padding: 14px;
  margin: 24px;
}

.nav-link {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.hero {
  padding: 170px;
  text-align: center;
  background-image: url(/images/main.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  max-width: 100%;
}

.hero h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.hero h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 72px;
  color: white;
}

.hero p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: white;
}

.navbar a {
  background-color: transparent;
  border: none;
}

.navbar-brand img {
  padding: 0 20px;
}

.grid {
  display: grid;
  text-align: center;
}

.gallery {
  padding: 50px;
}

.gallery img {
  max-width: 500px;
  padding: 20px;
}

@media (max-width: 576px) {
  a {
    font-size: 10px;
  }

  .hero {
    padding: 70px 50px;
  }

  .hero h1 {
    font-size: 40px;
  }

  .fa-brands {
    padding: 36px 0;
    margin: 0;
  }

  .footer p {
    font-size: 10px;
    padding: 34px 0;
  }
}
